 
<!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Star Wars</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a class="nav-link" [routerLink]="['galaxy']" >THE GALAXY</a></li>
        <li ><a class="nav-link" [routerLink]="['enrollment']">JEDI ENROLLMENT</a></li>
        <li ><a class="nav-link" [routerLink]="['myfavourate']"> MY FAVORITES</a></li>
      </ul>
  
    </div>
   
  </nav> -->



  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand text-white">Star War App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
          <li class="nav-item "  routerLinkActive ="active" [routerLinkActiveOptions]="{exact: true}"
         ><a class="nav-link"
           
            routerLink="galaxy">THE GALAXY</a></li>
        <li class="nav-item "  routerLinkActive ="active">
          <a class="nav-link" 
         
          routerLink="enrollment" >JEDI ENROLLMENT</a>
        </li>
        <li class="nav-item"  routerLinkActive ="active">
            <a class="nav-link" 
           
            routerLink="myfavourate" >MY FAVORITES</a>
        </li>
      </ul>
    </div>
  
  </nav>
  <router-outlet></router-outlet>
